
.external-style {
    background-color: red;
    font-weight: bold;
    color: white;
    font-size: 32px;
    text-align: center;
}
.p{
    background-color: green;
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-align: center;
}
.change-style {
    background-color: orange;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.avatar {
    width: 300px;
    height: 100px;
    border-radius: 50%;
}
.proportioned{
    width: 300px;
    height: 100px;
}
.distorted{
    width: 200px;
    height: 100px;
    border-radius: 5px;
}
HTML CSSResult Skip Results Iframe
EDIT ON
div {
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #EEEEEE;
}

.flex-container {
  /* display: flex; */
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  /* flex: 1; */
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 80px;
  flex: 1 1 auto;
}
.container {
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item {
  width: 60px;
  height: 60px;
  border: 4px solid darkslategray;
  background: skyblue;
}

.ul {
    display: flex;
    gap: 12px;
    margin-right: auto;
}

